<header>
  <h1><img src="/markdown.png" alt="Markdown">arked</h1>
</header>
<div class="row">
  <div class="span12">
    <form action="/documents" method="post">
      <div class="input">
        <textarea class="contents" name="document[contents]" placeholder="Start typing..."></textarea>
      </div>
    </form>
  </div>
</div>
