<div class="row">
  <div class="span12 document">
    <form action="/documents" method="post">
      <div class="input">
        <textarea class="contents" name="document[contents]" placeholder="Start typing..."></textarea>
      </div>
      <div class="bar">
        <div class="container">
          <div class="row">
            <div class="span4 credit">
              Handcrafted by <a href="http://gristmill.io" target="_blank">Gristmill</a>.
            </div>
            <div class="span4 offset4">
              <a class="btn toggle-preview">Preview</a>
              <input type="submit" value="Save Document">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="preview"></div>
