<div class="row">
  <div class="span12">
    <form action="/documents" method="post">
      <div class="input">
        <textarea class="contents" name="document[contents]" placeholder="Start typing..."></textarea>
      </div>
      <div class="bar">
        <div class="container">
          <div class="row">
            <div class="span12">
              <input type="submit" value="Save Document">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
