<div class="row">
  <div class="span12">
    <div class="well">
      <%= Markdown::render(@document) %>
    </div>
  </div>
  <div class="span12 credit">
    Handcrafted by <a href="http://gristmill.io" target="_blank">Gristmill</a>.
  </div>
<div>
