<header>
  <h1><img src="/markdown.png" alt="Markdown">arked</h1>
</header>
<div class="row">
  <div class="span12">
    <div class="well">
      <%= Markdown::render(@document.contents) %>
    </div>
  </div>
  <div class="span12 credit">
    Handcrafted by <a href="http://gristmill.io" target="_blank">Gristmill</a>.
  </div>
<div>
